/* 
* reset mobile page portrait style
* 手机竖屏页面样式调整
* 핸드폰 세로 페이지 스타일 조정
* 携帯電話の縦画面ページスタイルの調整
 */

 .video-wrap-component.small-screen .layout-side.portrait-screen {
    display: none;
}
.video-wrap-component.small-screen .video-list.layout-right.portrait-screen::-webkit-scrollbar {
    width: 0 !important
}
.small-screen .layout-side.video-left .el-button {
    background: #333;
}

.video-wrap-component.small-screen .video-list.layout-right.portrait-screen{
    min-width: 100%;
    width: auto;
    margin: 0;
    display: inline-table!important;
    flex-flow: row;
}
.video-wrap-component.small-screen .video-list.portrait-screen.hidden {
    top: 0;
    left: 0;
    display: flex!important;
}

.video-wrap-component.small-screen .video-list.portrait-screen .teacher-wrap {
    padding: 0;
    margin: 0;
    width: 115px;
    display: inline-block;
    overflow: hidden;
}
.video-wrap-component.small-screen .video-list.layout-right.portrait-screen .student-wrap {
    width: calc(100% - 115px);
    height: 86px;
    display: inline-block;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
}
.video-wrap-component.small-screen .video-list.layout-right.portrait-screen .student-wrap student-component:not(.drag) {
    max-width: 115px!important;
    float: left;
}

@media screen and (orientation: landscape) {
    .portrait-im-component .im-component.mobile {
        padding-top: 6px;
    }
    .video-wrap-component.small-screen {
        width: 175px;
        height: 100%;
        left: calc(100% - 175px);
        top: 0px;
     }
 } 

@media screen and (orientation: portrait) {
    .video-wrap-component.small-screen {
        min-width: 300px;
        width: 100%;
        height: 86px;
        top: 100%;
        left: calc(-100% - 130px);
        pointer-events: none;
        position: absolute;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width:none;
    }
    .portrait-im-component .im-component.mobile {
        padding-top: 86px;
    }
    
    screen-player-component{
        z-index: 100!important;
    }
}